In [55]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv('STATIONS2.csv', index_col=0)
df

,NAME,DATE_OPENED,the_geom,LINE,NOTES,coordinates,LATITUDE,LONGITUDE,ELEVATION,year,month,day,color_code,OPENING_DAY
0,Astor Pl,10/27/1904,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-73.99106999861966 40.73005400028978,40.730054,-73.991070,40.730054,1904,10,27,"[0, 147, 60]",1904-10-27
1,Canal St,10/27/1904,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-74.00019299927328 40.71880300107709,40.718803,-74.000193,40.718803,1904,10,27,"[0, 147, 60]",1904-10-27
2,50th St,10/27/1904,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",-73.98384899986625 40.76172799961419,40.761728,-73.983849,40.761728,1904,10,27,"[238, 53, 46]",1904-10-27
3,Bergen St,10/10/1920,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",-73.97499915116808 40.68086213682956,40.680862,-73.974999,40.680862,1920,10,10,"[0, 147, 60]",1920-10-10
4,Pennsylvania Ave,12/24/1920,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",-73.89488591154061 40.66471445143568,40.664714,-73.894886,40.664714,1920,12,24,"[0, 147, 60]",1920-12-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,Coney Island - Stillwell Av,06/22/1915,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",-73.9812359981396 40.57728100006751,40.577281,-73.981236,40.577281,1915,6,22,"[252, 204, 10]",1915-06-22
469,34th St - Hudson Yards,09/13/2015,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",-74.00219709442206 40.75544635961596,40.755446,-74.002197,40.755446,2015,9,13,"[185, 51, 173]",2015-09-13
470,72nd St,01/01/2017,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,-73.95836178682246 40.76880251014895,40.768803,-73.958362,40.768803,2017,1,1,"[252, 204, 10]",2017-01-01
471,86th St,01/01/2017,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,-73.95177090964917 40.77786104333163,40.777861,-73.951771,40.777861,2017,1,1,"[252, 204, 10]",2017-01-01
472,96th St,01/01/2017,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,-73.9470660219183 40.784236650177654,40.784237,-73.947066,40.784237,2017,1,1,"[252, 204, 10]",2017-01-01

In [94]:
df.dtypes

NAME            object
DATE_OPENED     object
the_geom        object
LINE            object
NOTES           object
coordinates     object
LATITUDE       float64
LONGITUDE      float64
ELEVATION      float64
year             int64
month            int64
day              int64
color_code      object
OPENING_DAY     object
dtype: object

In [95]:
colorList = df.color_code.tolist()

In [96]:
colorList[2]

'[238, 53, 46]'

In [97]:
import ast

In [98]:
df['color_code'] = df.apply(lambda x: ast.literal_eval(x['color_code']), axis=1)

In [99]:
df

,NAME,DATE_OPENED,the_geom,LINE,NOTES,coordinates,LATITUDE,LONGITUDE,ELEVATION,year,month,day,color_code,OPENING_DAY
0,Astor Pl,10/27/1904,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-73.99106999861966 40.73005400028978,40.730054,-73.991070,40.730054,1904,10,27,"[0, 147, 60]",1904-10-27
1,Canal St,10/27/1904,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-74.00019299927328 40.71880300107709,40.718803,-74.000193,40.718803,1904,10,27,"[0, 147, 60]",1904-10-27
2,50th St,10/27/1904,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",-73.98384899986625 40.76172799961419,40.761728,-73.983849,40.761728,1904,10,27,"[238, 53, 46]",1904-10-27
3,Bergen St,10/10/1920,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",-73.97499915116808 40.68086213682956,40.680862,-73.974999,40.680862,1920,10,10,"[0, 147, 60]",1920-10-10
4,Pennsylvania Ave,12/24/1920,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",-73.89488591154061 40.66471445143568,40.664714,-73.894886,40.664714,1920,12,24,"[0, 147, 60]",1920-12-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,Coney Island - Stillwell Av,06/22/1915,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",-73.9812359981396 40.57728100006751,40.577281,-73.981236,40.577281,1915,6,22,"[252, 204, 10]",1915-06-22
469,34th St - Hudson Yards,09/13/2015,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",-74.00219709442206 40.75544635961596,40.755446,-74.002197,40.755446,2015,9,13,"[185, 51, 173]",2015-09-13
470,72nd St,01/01/2017,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,-73.95836178682246 40.76880251014895,40.768803,-73.958362,40.768803,2017,1,1,"[252, 204, 10]",2017-01-01
471,86th St,01/01/2017,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,-73.95177090964917 40.77786104333163,40.777861,-73.951771,40.777861,2017,1,1,"[252, 204, 10]",2017-01-01
472,96th St,01/01/2017,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,-73.9470660219183 40.784236650177654,40.784237,-73.947066,40.784237,2017,1,1,"[252, 204, 10]",2017-01-01

In [100]:
colorList = df.color_code.tolist()

In [101]:
colorList[2]

[238, 53, 46]

In [103]:
# df.drop(columns=['red', 'green', 'blue'], axis=1)

In [104]:
red = []
green = []
blue = []

for row in df['color_code']:
    red.append(row[0])
    green.append(row[1])
    blue.append(row[2])
    
    
df['red'] = red
df['green'] = green
df['blue'] = blue

In [105]:
df

,NAME,DATE_OPENED,the_geom,LINE,NOTES,coordinates,LATITUDE,LONGITUDE,ELEVATION,year,month,day,color_code,OPENING_DAY,red,green,blue
0,Astor Pl,10/27/1904,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-73.99106999861966 40.73005400028978,40.730054,-73.991070,40.730054,1904,10,27,"[0, 147, 60]",1904-10-27,0,147,60
1,Canal St,10/27/1904,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-74.00019299927328 40.71880300107709,40.718803,-74.000193,40.718803,1904,10,27,"[0, 147, 60]",1904-10-27,0,147,60
2,50th St,10/27/1904,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",-73.98384899986625 40.76172799961419,40.761728,-73.983849,40.761728,1904,10,27,"[238, 53, 46]",1904-10-27,238,53,46
3,Bergen St,10/10/1920,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",-73.97499915116808 40.68086213682956,40.680862,-73.974999,40.680862,1920,10,10,"[0, 147, 60]",1920-10-10,0,147,60
4,Pennsylvania Ave,12/24/1920,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",-73.89488591154061 40.66471445143568,40.664714,-73.894886,40.664714,1920,12,24,"[0, 147, 60]",1920-12-24,0,147,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,Coney Island - Stillwell Av,06/22/1915,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",-73.9812359981396 40.57728100006751,40.577281,-73.981236,40.577281,1915,6,22,"[252, 204, 10]",1915-06-22,252,204,10
469,34th St - Hudson Yards,09/13/2015,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",-74.00219709442206 40.75544635961596,40.755446,-74.002197,40.755446,2015,9,13,"[185, 51, 173]",2015-09-13,185,51,173
470,72nd St,01/01/2017,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,-73.95836178682246 40.76880251014895,40.768803,-73.958362,40.768803,2017,1,1,"[252, 204, 10]",2017-01-01,252,204,10
471,86th St,01/01/2017,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,-73.95177090964917 40.77786104333163,40.777861,-73.951771,40.777861,2017,1,1,"[252, 204, 10]",2017-01-01,252,204,10
472,96th St,01/01/2017,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,-73.9470660219183 40.784236650177654,40.784237,-73.947066,40.784237,2017,1,1,"[252, 204, 10]",2017-01-01,252,204,10

In [107]:
df.dtypes

NAME            object
DATE_OPENED     object
the_geom        object
LINE            object
NOTES           object
coordinates     object
LATITUDE       float64
LONGITUDE      float64
ELEVATION      float64
year             int64
month            int64
day              int64
color_code      object
OPENING_DAY     object
red              int64
green            int64
blue             int64
dtype: object

In [109]:
df.to_csv('Stations3.csv')